body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("img7.jpg");
    height: 100%;
    width: 98%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

/* .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img4.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-shadow: 0 0 3px #FF0000;
    color: #10ff00;
}

h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h3 {
    color: rgb(255, 217, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }


table#game td{
    background-color: beige;
    height:120px;
    width:120px;
    border:solid saddlebrown 5px;
    border-radius:10px;
    text-align:center;
    font-weight: bold;
    font-size: 40pt;
}
/* .style{
    background-color: skyblue;
} */
button#restart{
    background-color: salmon;
    padding:10px;
    color:white;
    font-size: 20pt;
    border-radius: 10px;


}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background: #2980b9;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

  